@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito:wght@300&family=Quicksand:wght@500&family=Rubik:ital@1&display=swap");
:root {
  --soft-grey: rgb(209, 209, 209);
  --soft-grey-2: rgb(194, 193, 193);
  --soft-shadow: 2px 2px 10px black;
}

body {
  padding-left: 4em;
  padding-right: 4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(45deg, #ffe4c4, transparent);
}

header {
  text-align: center;
}

#title {
  text-align: center;
}

#survey-form {
  padding: 4em;
  opacity: 0.88;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

label {
  margin-bottom: 1.5em;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
  cursor: pointer;
}
.input-grp input {
  margin: 1rem;
  height: 2rem;
  padding-left: 1em;
  background: var(--soft-grey);
  border: 0;
  border-radius: 4px;
}
.input-grp input:focus {
  background-color: var(--soft-grey-2);
}
.input-grp {
  display: block;
}

#description {
  margin-left: 2em;
  font-size: larger;
}

#number {
  width: 13rem;
}

#dropdown {
  border: none;
  background-color: var(--soft-grey);
  height: 2em;
  /*font-size: large;
  padding-left: 5px;
  */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* check styles */
.ckecking {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid salmon;
  background-color: bisque;
}
.ckecking > * {
  padding: 1em;
}
.checkbox-grp {
  border-left: 2px solid salmon;
}
.radio-group label,
.checkbox-grp label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 1.5em;
}

.radio-group > label,
.checkbox-grp > label {
  color: gray;
}

textarea {
  outline: none;
  padding: 1em;
  font-size: large;
  background-color: var(--soft-grey);
}
textarea:focus {
  transform: scale(1.01);
}

.p-tag {
  font-weight: bolder;
  text-decoration: dotted;
}

#submit:hover {
  cursor: pointer;
}
#submit {
  background: salmon;
  border: 0;
  padding: 1em;
  color: white;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 2em;
}
